@model IEnumerable<Epreuve_ASP_MVC.Models.CategorieListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produit_Categorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produit_Categorie)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Categorie }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_Categorie }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_Categorie })
            </td>
        </tr>
}
    </tbody>
</table>
